<div class="card" *ngIf="product.title">
  <div class="card-header">
    <img class="card-img-top card-img-block"
       *ngIf="product.imageUrl"
       [src]="product.imageUrl" alt="product.title">
  </div>

  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">
      <p>{{product.price|currency:'USD':'symbol'}}</p>

  </div>
  <div class="card-footer" *ngIf="showActions">
    <app-product-quantity [product]="product"></app-product-quantity>
  </div>
</div>
