<h1>Shopping Cart</h1>
<ng-container *ngIf="cart">
  <p>Total Items in Cart {{cart.totalIemsInCart}}</p>
  <table class="table">
    <thead>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit Cost</th>
      <th>Total Cost</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.shoppingCartItems">
        <td>{{item.product.title}}</td>
        <td>
           <app-product-quantity [product]="item.product"></app-product-quantity>
        </td>
        <td>{{item.product.price|currency:'USD':'symbol'}}</td>
        <td>{{item.totalPrice |currency:'USD':'symbol'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Cart Total:</th>
        <th></th>
        <th></th>
        <th>{{cart.totalPrice |currency:'USD':'symbol'}}</th>
      </tr>
    </tfoot>
  </table>
</ng-container>
